*{
   box-sizing: border-box;
}

body{
    background-color: skyblue;
}

#header-text{
    height: auto;
    padding: 0px;
    margin-top: -10px;
    margin-bottom: -5px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

.navbar-brand h1 {
    font-weight: 200;
    text-shadow: 1px 1px 1px rgb(153, 153, 153);
}

#header-main{
    background-color: black;
    border-radius: 0px;
    border: 0;
}

#nav-list{
    margin-top: 0px;
    margin-bottom: 0;
    background-color: white;
}

#nav-list span{
    color: black;
    text-align: center;
    font-size: 2em;
    border: 1px solid black;
}

#nav-list span:hover{
    background: skyblue;
}

#header-main button.navbar-toggle, #header-main .icon-bar{
    border: 1px solid skyblue;
}

div h2{
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div section{
    background-color: darkgray;
}

section p{
    padding: 0 15px 10px 15px;
}

section h3{
    padding-top: 10px;
    font-weight: 700;
}

span a:hover, span a:focus {
    text-decoration: none;
}